* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

/* hero style */

.hero-area {
  /* margin: 0px 17px; */
  background-color: #feedbc;
  display: flex;
}

.hero {
  margin: 0px 13px;
  padding-bottom: 88px;
  /* background-color: #feedbc; */
  justify-content: center;
}

.nav-bg {
  background-color: #feedbc;
  padding: 0px 13px;
  padding-top: 50px;
}

.nav-bar {
  width: 350px;
  height: 72px;
  flex-shrink: 0;
  background-color: white;
  display: flex;
  justify-content: left;

  /* align-items: center; */

  border-radius: 3750px;
}

.logo {
  margin: 12px 0px 12px 22.5px;

  width: 95.25px;
  height: 47.25px;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.hero-sub {
  margin-top: 40px;
  margin-bottom: 4px;
  color: #f9b800;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.hero-title {
  margin-bottom: 30px;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.list {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.list-item {
  display: flex;
  padding: 11.795px 33.701px 11.795px 16.85px;
  max-width: fit-content;

  align-items: center;
  gap: 5.898px;

  border-radius: 4212.591px;
  background-color: #fff;
}

.list-text {
  font-size: 16.85px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.slide {
  display: flex;
  width: 335px;
  padding: 16.923px 38.462px 18.462px 38.462px;
  justify-content: space-between;
  align-items: center;

  color: #262626;
  font-size: 18.462px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border-radius: 3846.154px;
  background-color: #f9b800;
}

.hero-banner img {
  min-width: 350px;
  height: 350px;
  flex-shrink: 0;
}

/* Integer style */

.intgr {
  background-color: #262626;
  padding: 71.82px 20px 30px 20px;
}

.int-sub {
  color: #f9b800;
  margin-bottom: 20px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.int-title {
  color: #fff;
  margin-bottom: 30px;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.int-slide {
  display: flex;
  width: 335px;
  padding: 16.923px 38.462px 18.462px 38.462px;
  justify-content: space-between;
  align-items: center;

  color: #262626;
  font-size: 18.462px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  border-radius: 3846.154px;
  background: #fff;
}

/* Card style */

.integer-card {
  margin: 55px 0px 30px 0px;
}

.card-itm {
  padding: 47px 47px 54px 47px;
  margin-bottom: 30px;
  width: 335px;
  height: 382.857px;
  flex-shrink: 0;

  border-radius: 57.429px;
  background-color: #fff;
}

.card-itm:nth-child(2) {
  background-color: #f9b800;
}

.card-itm:nth-child(4) {
  background-color: #f9b800;
}

.card-img img {
  width: 57.429px;
  height: 57.429px;
  flex-shrink: 0;

  margin-bottom: 22px;
}

.card-num {
  color: #262626;

  font-size: 68.914px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dot {
  color: #f9b800;
}

.card-title {
  margin-top: 10px;

  color: #262626;
  font-size: 22.971px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-sub {
  margin-top: 18px;

  font-size: 19.143px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-sub2 {
  color: #262626;

  font-size: 17.229px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  text-transform: capitalize;
}

/* Cust style */
.cust-area {
  background-color: #f9b800;
  padding: 20px 20px 20px 20px;
} /*do position here*/

.cust {
  padding: 39px 26px 38px 28px;
  width: 335px;
  height: 672px;
  flex-shrink: 0;
  background: #fff;

  border-radius: 57.43px;
  /* margin-bottom: 137px; */
}

.cust-potr {
  border-radius: 500px;
  margin-bottom: 40px;
}

.cust-potr img {
  width: 272px;
  height: 272px;
}

.cust-title {
  color: #262626;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 20px;
}

.cust-p {
  color: #262626;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 20px;
}

.cust-h {
  color: #262626;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.cust-arr {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.cust-arr svg {
  width: 39.551px;
  height: 16.602px;
}

/* Phas style */

.phas-area {
  background-color: #262626;
}

.phas {
  padding: 123px 20px 64px 20px;
}

.phas-title {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.phas-sub {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-bottom: 40px;
}

.phas-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.phas-list-item {
  display: flex;
  padding: 30px 20px 30px 30px;
  /* flex-direction: column; */
  align-items: flex-start;

  max-width: fit-content;
  max-height: fit-content;

  border-radius: 50px;
  background-color: #fff;
}

.phas-l-title {
  color: #262626;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 20px;
}

.phas-plus svg {
  width: 36px;
  height: 36px;
}

.phas-l-info {
  color: #262626;

  font-size: 18px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  text-transform: capitalize;
}

/* Footer style */

.footer {
  padding: 40px 20px 50px 20px;
  background-color: #feedbc;
}

.f-title {
  color: #262626;

  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.copy {
  margin-top: 66px;
  margin-bottom: 7px;
  color: #262626;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.f-link {
  color: #262626;
  /* text-align: right; */

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 170% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* 1920px */
@media only screen and (min-width: 600px) {
  .hero {
    padding: 0px 160px 0px 255px;
    padding-top: 50px;
    padding-bottom: 224px;

    display: flex;
    flex-direction: row-reverse;
  }

  .hero-area {
    /* margin: 0px 17px; */
    background-color: #feedbc;
  }

  .nav-bg {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 115px;
  }

  .nav-bar {
    justify-content: center;
    align-items: center;
    border-radius: 5000px;

    width: 1600px;
    height: 96px;
  }

  .logo {
    margin: 0px;

    width: 127px;
    height: 63px;
  }

  .logo-img {
    width: 100%;
    height: 100%;
  }

  .hero-sub {
    margin-top: 30px;
    margin-bottom: 4px;
    color: #f9b800;

    font-size: 30px;
  }

  .hero-title {
    margin-bottom: 60px;
    /* padding-right: 250px; */

    font-size: 80px;
    line-height: 90px;
  }

  .list {
    margin-bottom: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 558px;
  }

  .slide {
    width: 350px;
    padding: 22px 50px 24px 50px;
  }

  .hero-banner img {
    min-width: 714px;
    height: 714px;
  }

  /* Integer style */

  .intgr {
    background-color: #262626;
    padding: 0px 258px 0px 201px;
    display: flex;
  }
  .integer-text {
    margin: 432px 0px 768px 0px;
    margin-right: 176px;
  }

  .int-title {
    margin-bottom: 60px;
  }

  .int-slide {
    display: flex;
    width: 350px;
    padding: 22px 50px 24px 50px;

    color: #262626;
    font-size: 18.462px;
    border-radius: 3846.154px;
  }

  /* Card style */

  .integer-card {
    margin: 165px 0px 0px 0px;
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 400px 400px;
    row-gap: 60px;
    column-gap: 60px;
  }

  .card-itm:nth-child(3) {
    background-color: #f9b800;
  }

  .card-itm:nth-child(4) {
    margin-top: 107px;
    background-color: #fff;
  }

  .card-itm:nth-child(2) {
    margin-top: 107px;
    /*60px*/
    background-color: #f9b800;
  }

  .card-itm:nth-child(5) {
    background-color: #fff;
  }

  /* Cust style */
  .cust-area {
    background-color: #f9b800;
    padding: 40px 138px 40px 138px;
  } /*do position here*/

  .cust {
    padding: 100px 135px 100px 135px;
    position: relative;
    bottom: 173px;
    width: 1650px;
    height: 672px;
    flex-shrink: 0;
    border-radius: 100px;

    display: flex;
  }

  .cust-potr {
    border-radius: 500px;
    margin-bottom: 0px;
  }

  .cust-potr img {
    width: 472px;
    height: 472px;
  }

  .cust-text {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    margin-left: 70px;
  }
  .cust-title {
    text-align: left;

    margin-bottom: 20px;

    font-size: 50px;
  }

  .cust-p {
    text-align: left;

    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 133.333% */
  }

  .cust-h {
    text-align: left;
    margin-bottom: 30px;
  }

  .cust-arr {
    justify-content: start;
    gap: 40px;
  }

  /* Phas style */

  .phas-area {
    background-color: #262626;
  }

  .phas {
    padding: 172px 111px 108px 164px;
  }

  .phas-title {
    margin-bottom: 14px;

    font-size: 60px;
    line-height: 72px; /* 120% */
  }

  .phas-sub {
    margin-bottom: 90px;
    font-size: 30px;

    line-height: 40px; /* 133.333% */
  }

  .phas-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .phas-list-item {
    display: flex;
    padding: 60px 66px 66px 90px;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-between;

    max-width: 1650px;
    height: fit-content;
    flex-shrink: 0;

    border-radius: 60px;
    background-color: #fff;
  }
  .phas-l-title:nth-child(1) {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .phas-l-title {
    font-size: 30px;
    margin-bottom: 0px;
    margin: auto 0;
  }

  .phas-plus svg {
    width: 36px;
    height: 36px;
  }

  .phas-l-info {
    font-size: 30px;
  }

  /* Footer style */

  .footer {
    padding: 68px 176px 115px 221px;
    background-color: #feedbc;
  }

  .footer-t {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
  }

  .f-title {
    font-size: 50px;
    width: 713.136px;

    margin-bottom: 0px;
  }

  .footer-b {
    display: flex;
    justify-content: space-between;
  }

  .copy {
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 20px;
  }

  .f-link {
    text-align: right;

    font-size: 20px;
  }
}
